.bg-purple {
    background-color: blueviolet;
}

.bg-orange {
    background-color: orangered;
}
.bg-pink {
    background-color: pink;
}
.bg-purple {
    background-color: blueviolet;
}
.bg-brown {
    background-color: rgb(102, 72, 48);
}
.bg-turquoise {
    background-color: turquoise;
}
.bg-grenade {
    background-color: rgb(122, 23, 78);
}
.bg-beige {
    background-color: rgb(236, 173, 122);
}